/* .article{
    position: relative;
    width: 200px;
    transition: all .3s ease;
  }
  
  
  .article img:first-child{
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    opacity: 0;
  }

  .article img:last-child {
    position: absolute;
    width: 96px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
  }
  
  .article:hover {
    transform: 
    perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0);
  }
  
  .article::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(
      to bottom,
      transparent 10%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0) 95%,
    );
    opacity: 0;
    transition: all .3s ease;
  }
  
  .article:hover::before {
    opacity: 1;
  }
  
  .article:hover img:last-child{
    opacity: 1;
    transform: translateY(10%);
  } */

  .form-container {
    background-image: url('../../assetsform/formfondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 24%;
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    background-color: transparent;
    border-radius: 26px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
 
  label {
    display: flex;
    margin-bottom: 5px;
    color: #444;
      }
  
  input {
    display: flex;
    width: 100%;
    padding: 10px;
    border: 4px solid #385438;
    border-radius: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: transparent;
    /* background: linear-gradient(
      45deg,
     rgb(38, 48, 36), rgb(48, 76, 48), rgb(50, 116, 50),
      rgb(28, 152, 28), rgb(4, 250, 4), rgb(82, 254, 2)
    ); */
    animation: glowing2 2s linear infinite;
  }

  @keyframes glowing2 {
    0% {
      box-shadow: 0 0 10px #4CAF50;
    }
  
    50% {
      box-shadow: 0 0 20px #4CAF50;
    }
  
    100% {
      box-shadow: 0 0 10px #4CAF50;
    }
  }

  .input-field{
    color: white;
    font-family: 'Times New Roman', sans-serif;
  }
  

  .submit {
    background: black;
    cursor: pointer;
    border: none;
    padding: 6px 12px;
    color: #6bf87c;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    left: 1%;
    border-radius: 12px;
  }

  .submit::before{
    content: "";  
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
     rgb(38, 48, 36), rgb(48, 76, 48), rgb(50, 116, 50),
      rgb(28, 152, 28), rgb(4, 250, 4), rgb(82, 254, 2)
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 6s linear infinite;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }

    50% {
      background-position: 400% 0;
    }

    100% {
      background-position: 0 0;
    }
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }

  .form-container {
    animation: glowing1 1s ease-in-out infinite;
  }
  
  @keyframes glowing1 {
    0% {
      box-shadow: 0 0 10px #4CAF50;
    }
  
    50% {
      box-shadow: 0 0 20px #4CAF50;
    }
  
    100% {
      box-shadow: 0 0 10px #4CAF50;
    }
  }

  .portales{
    position: fixed;
    width: 100px;
    top: -30%;
    left: 105%;
    transform: translate(-50%, -50%) rotateY(180deg);
  }
  
  .portales1{
    position: fixed;
    width: 100px;
    top: 140%;
    left: 105%;
    transform: translate(-50%, -50%) rotateY(150deg);
  }
  
  .cayendo{
    position: fixed;
    width: 100px;
    top: -44%;
    left: 90%;
    transform: translate(-50%, -50%);
    animation-delay: 1s;
    animation: rotate1 8s linear infinite;
    perspective: 100px;
  }
  
  
  @keyframes rotate1{
    0%{
        transform: translateY(0px);
        
     } 
     50%{
        
    } 
    to{
        transform: translateY(432px);
    }  
  }